

.our div div .bs-select{
  
    
}

.our div div .bs-select select {
  height: 32px;
  margin-top: 7px;
  margin-bottom: 10px;
  border: 1px solid white;
}

.our div div .dataTables_filter input{
    height: 32px;
    margin-top: 7px;
    border: 1px solid white;
  }

  .our{
    background-color: rgb(41, 41, 74);
    border-radius: 5px;
    padding: 20px;
  }
  .our > .row:nth-child(2) > div > div > .table-bordered {
border:1px solid white;
border-collapse: unset;

border-spacing: 0px;

border: 0.0625rem solid #e3e3e3;
  }
  .our > .row:nth-child(2) > div > div > .table-bordered >thead {
  background-color: rgb(35, 128, 248);
 
      }
 .mybutton{

     margin-left: 50%;
    
 }
  /*
  background-color: lightsteelblue;
    border-radius: 5px;
    padding: 20px;
  
  function (d) {          
            return buttonDetails.replace("ID_X", d.rowIdField) + " " + buttonEdit.replace("ID_X", d.rowIdField) + " " + buttonDelete.replace("ID_X", d.rowIdField);
       
  
  
  */